<div class="container">
    <!--
    <div class="row">
        <div class="col-md-12">
            <div>

                <div class="col-6">
                    <label for="fecha">Primera fecha</label>
                    <input type="month" name="fecha" id="fecha" class="form-control" [value]="fechaAnioMes"
                        (change)="obtenerSeleccionCategoria($event)">
                </div>

            </div>
        </div>
    </div>
-->
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>Calendario de Actividades {{ meses[mes-1] }}</h1>
            </div>
        </div>
    </div>
    <!--
    aanio1: {{ aanio }} <br/>
    mes1: {{ mes }} <br/>-->
    <div class="row">
        <div class="col-md-12">
            <app-calendar-item [tareas]="tareas" [aanio]="aanio" [mes]="mes"></app-calendar-item>
        </div>
        <div class="col-md-12">
            <app-calendar-detalle [tareas]="tareas"></app-calendar-detalle>
        </div>
    </div>
</div>