<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1>LOGIN</h1>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control">
                    </div>
                    <button>Login</button>
                </form>
            </div>
        </div>
    </div>
</div>